@model MvcCovidStatistics.Models.DayRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DayRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumVaccinated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumVaccinated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumDeaths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumDeaths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumRecovered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumRecovered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewCases)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewCases)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
