@model IEnumerable<MvcCovidStatistics.Models.DayRecord>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumVaccinated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumDeaths)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumRecovered)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewCases)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumVaccinated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumDeaths)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumRecovered)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewCases)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
